body {
    height: 100vh;
    display: flex;
    border: 1px solid pink;
    flex-direction: column;
}
h1 {
    margin-top: .01%;
    text-align: center;
}
p {
    text-align: center;
    margin-top: .1%;
}

.game-board {
    margin: auto;
    height: calc(100vh - 15%); /* Maxi game area on device -15%  So I can have a title and maybe a scoreboard... :)*/
    width: calc(100vh - 15%);
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    border: 2px solid lime;
    width: 20%;
    height: 25%;
    transform: scale(1);
}
.card-face, .card-backdrop{
    background: blue;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card:active {
    transform: scale(.97);
    transition: transform .1s;
}
